.img1
{
    height: 400px;
    width: 100%;
    line-height: 0.7;
    margin-bottom: 0px;
}

.Fleche
{
    font-size : 65px;
    color: orangered;
    align: center;
    margin-top: 0px;
    line-height: 39px;
}